<!DOCTYPE html>
<html lang="en">
<head>
    <title>Will Site</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='slate.min.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <style>
        body{
            margin: 0 auto;
            max-width: max-content;
        }
    </style>
</head>
<body>
    <div>Hello Will</div>
    <a href="{{ url_for('create_review') }}">Create Review</a>
    <a href="{{ url_for('reviews') }}">All Reviews</a>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
</body>
</html>