<!DOCTYPE html>
<html lang="en">
<head>
    <title>Review View</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='slate.min.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
</head>
<body>
  
    <h2>{{ review.review_title }}</h2>
    <p>Medium: {{ review.medium }}</p>
    <p>Artist: {{ review.artist }}</p>
    <p>Description: {{ review.description }}</p>
    <p>Rating: {{ review.rating }}</p>
    
    <p><a href="{{ url_for('reviews') }}">Back to Reviews</a></p>
    <br>
    <a href="{{ url_for('create_review') }}">Create Review</a>
    <br>
    <a href="{{ url_for('index') }}">Home</a>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
</body>
</html>